<section class="seccion-experiencia" id="experiencia">
  
  <svg class="fondo-exp-zigzag" preserveAspectRatio="none" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <g stroke="#ffffff" stroke-width="0.8" stroke-linejoin="round">
      <polygon points="0,0 40,0 25,100 0,100" fill="#7a8288" />
      
      <polygon points="40,0 75,0 60,100 25,100" fill="#403b38" />
      
      <polygon points="75,0 100,0 100,100 60,100" fill="#2b2825" />
    </g>
  </svg>

  <div class="contenedor">
    <h2 class="titulo-seccion" data-aos="fade-right">Experiencia Laboral</h2>

    <div class="linea-tiempo">
      <div class="tarjeta-experiencia" data-aos="fade-up">
        
        <span class="fecha">2025 - 2026</span>
        <h3 class="puesto">Soporte Técnico</h3>
        <h4 class="empresa">EMPRESA ROSMO</h4>
        
        <p class="descripcion">
          Asistencia a usuarios e infraestructura de red. Instalación y configuración de hardware y software, consultas a la base de datos en SAP Business One, y mantenimiento de servidores.
        </p>
        
        <ul class="lista-tareas">
          <li>Administración de servidores NAS y sistemas Windows Server y Linux (incluyendo entornos Debian, SUSE y Ubuntu).</li>
          <li>Configuración de redes (IP, VPN, switches, UniFi y firewall Fortinet).</li>
          <li>Gestión de cuentas mediante Active Directory y Google Admin.</li>
          <li>Soporte técnico a usuarios y acceso remoto mediante herramientas como PuTTY y AnyDesk.</li>
        </ul>

      </div>
    </div>
    
  </div>
</section>