<section class="seccion-estudios" id="estudios">
  
  <svg class="fondo-edu-zigzag" preserveAspectRatio="none" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <g stroke="#ffffff" stroke-width="0.8" stroke-linejoin="round">
      <polygon points="0,0 50,0 45,55 0,45" fill="#7a8288"/>
      <polygon points="50,0 100,0 100,45 45,55" fill="#403b38"/>
      <polygon points="0,45 45,55 55,100 0,100" fill="#5e656b"/>
      <polygon points="45,55 100,45 100,100 55,100" fill="#2b2825"/>
    </g>
  </svg>

  <div class="contenedor" data-aos="fade-up">
    <h2 class="titulo-seccion">Educación Formal</h2>

    <div class="lista-estudios">
      
      <div class="card-estudios">
        <div class="header-estudios">
          <div class="logo-container">
            <img src="logo3.jpg" alt="Logo UMG" class="logo-universidad">
          </div>
          <div class="titulo-container">
            <h3>Ingeniero en Sistemas (9no semestre)</h3>
            <h4>Facultad de Ingeniería, Universidad Mariano Gálvez de Guatemala</h4>
          </div>
        </div>

        <div class="detalles-estudios">
          <p><span class="label">Carrera de Ingeniería:</span> Sistemas de Información y Ciencias de la Computación</p>
          <p><span class="label">Fecha de inicio:</span> 2022 - Actualidad</p>
          <p><span class="label">Semestre Actual:</span> 9no Semestre</p>
          <p><span class="label">Ubicación:</span> Villa Nueva, Guatemala</p>
        </div>
      </div>

      <div class="card-estudios" data-aos="fade-up" data-aos-delay="100">
        <div class="header-estudios">
          <div class="logo-container">
            <img src="logo2.jpg" alt="Logo Colegio Siloé" class="logo-universidad">
          </div>
          <div class="titulo-container">
            <h3>Bachillerato en Computación</h3>
            <h4>Centro Educativo Siloé Amatitlán</h4>
          </div>
        </div>

        <div class="detalles-estudios">
          <p><span class="label">Especialidad:</span> Orientación Científica</p>
          <p><span class="label">Período:</span> 2020 - 2021</p>
          <p><span class="label">Nivel Académico:</span> Educación Media</p>
          <p><span class="label">Ubicación:</span> Amatitlán, Guatemala</p>
        </div>
      </div>

    </div>
  </div>
</section>