<section class="seccion-certificados" id="certificados">
  
  <svg class="fondo-cert-zigzag" preserveAspectRatio="none" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
    <g stroke="#ffffff" stroke-width="0.8" stroke-linejoin="round">
      <polygon points="0,0 100,0 100,30 0,45" fill="#7a8288" />
      
      <polygon points="0,45 100,30 100,70 0,85" fill="#403b38" />
      
      <polygon points="0,85 100,70 100,100 0,100" fill="#2b2825" />
    </g>
  </svg>

  <div class="contenedor" data-aos="fade-up">
    <h2 class="titulo-seccion">Certificaciones y Cursos</h2>
    
    <div class="lista-certificados">
      
      <div class="tarjeta-cert" data-aos="zoom-in" data-aos-delay="100">
        <div class="contenido-texto">
          <span class="badge completado">Completado</span>
          <h3>Máster en SQL Server</h3>
          <p>Desde Cero a Nivel Profesional [2024]</p>
        </div>
        <div class="contenido-imagen">
          <img src="/certificados/SQL.jpg" alt="Certificado Máster en SQL Server">
        </div>
      </div>

      <div class="tarjeta-cert" data-aos="zoom-in" data-aos-delay="150">
        <div class="contenido-texto">
          <span class="badge completado">Completado</span>
          <h3>Soporte Técnico a Computadoras</h3>
          <p>En Entornos Corporativos</p>
        </div>
        <div class="contenido-imagen">
          <img src="/certificados/IT.jpg" alt="Certificado Soporte Técnico">
        </div>
      </div>

      <div class="tarjeta-cert" data-aos="zoom-in" data-aos-delay="200">
        <div class="contenido-texto">
          <span class="badge completado">Completado</span>
          <h3>Master en JavaScript 2026</h3>
          <p>Aprender JS, Angular, Node, Astro</p>
        </div>
        <div class="contenido-imagen">
          <img src="/certificados/JavaScript.jpg" alt="Certificado JavaScript">
        </div>
      </div>

      <div class="tarjeta-cert" data-aos="zoom-in" data-aos-delay="250">
        <div class="contenido-texto">
          <span class="badge completado">Completado</span>
          <h3>Cisco CCNA</h3>
          <p>Fundamentos de Networking para Redes IP</p>
        </div>
        <div class="contenido-imagen">
          <img src="/certificados/redes.jpg" alt="Certificado Redes Cisco CCNA">
        </div>
      </div>

      <div class="tarjeta-cert" data-aos="zoom-in" data-aos-delay="300">
        <div class="contenido-texto">
          <span class="badge completado">Completado</span>
          <h3>Software Testing desde 0</h3>
          <p>MasterClass todo en 1</p>
        </div>
        <div class="contenido-imagen">
          <img src="/certificados/QA.jpg" alt="Certificado QA Software Testing">
        </div>
      </div>

    </div>
  </div>
</section>