<section class="sobre-mi-container" id="sobre-mi">
  <div class="perfil-info">
    
    <div class="foto-perfil-container" data-aos="zoom-in">
      <img src="foto_cv.jpg" alt="Foto de Ricardo Cruz" class="foto-perfil">
    </div>

    <h1 class="nombre">Ricardo Antonio Cruz Lemus</h1>
    <h2 class="titular">Estudiante de Ingeniería en Sistemas | Soporte Técnico | Analista QA Jr</h2>
    
    <div class="descripcion">
      <p>
        Soy estudiante de ingeniería en sistemas (9no. Semestre) motivado para trabajar, con experiencia en soporte técnico de aplicaciones y bases de datos. 
      </p>
      <p>
        Me apasiona aprender y crecer en el campo laboral, mostrando habilidades que ayuden a impulsar los objetivos de la compañía.
      </p>
    </div>

  
  </div>
</section>